__pycache__
./cache
.idea
.vscode
/data/alternateNamesV2.txt
/data/cities500.txt
/data/cities15000.txt
/data/countryInfo.txt
/data/dxcc_list.txt
/data/lotw-user-activity.csv
/data/lotw-user-activity.csv.old
